<!-- end container -->


<div class="row" style="padding-bottom: 80px;">

    </div>


<footer class="page_footer bg-white" style="position: fixed; left: 0; right: 0; bottom: 0;width:100%; padding-top: 10px; height: 80px;z-index: 900; background: #ccc;">
    <div class="container">
        <div class="row">
            <div class="col-xs-4 text-center">
                <a href="#index" ><i class="glyphicon glyphicon-home"></i><br><span>首页</span></a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#list" ><i class="glyphicon glyphicon-book"></i><br><span>资源库</span></a>
            </div>
            <div class="col-xs-4 text-center">
                <a href="#mine" ><i class="glyphicon glyphicon-user"></i><br><span>我的</span></a>
            </div>
        </div>
    </div>
</footer>
