<!-- 头部导航开始 -->
<div class="row show-grid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <h2 class="text-center">资源平台</h2>

        </div>
    </nav>
</div>
<!-- 头部导航结束 -->